@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    font-family: "Roboto", sans-serif;
    background-color: #12150F;    
}
/* Nav bar is here */
header {
    background: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 20px 150px;    
    transition: 0.6s;
    z-index: 10;
    backdrop-filter: blur(2px);     
}
header ul {
    list-style: none;
    width: 100%; 
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
} 
header #logo {
    position: relative;
    font-weight: bold;
}
header ul li {
    display: inline-block;
    position: relative;
}
header ul li a {
    transition:0.2s;
}
header ul li a:hover {
    color: #00AA44;
    padding: 5px;
}
#logo, li a{
    position: relative;
    width: 100%;
    font-size: 20px;    
    color: white;
    text-decoration: none;
}
#travel {
    display: flex;
    align-items: center;
    gap: 10px;
}
.boxtoy {
    position: relative;
    height: 200px;
    position: absolute;
    width: 200px;
}  
.dropDown {
    display: none;
}
.dropDown ul li a {
    color: black;
}
header ul li:hover .dropDown{
    transition: 0.3s;
    left: 0;
    display: block;
    position: absolute;
    margin-top: 10px;
    background-color: white;
}
header ul li:hover .dropDown ul {
    display: block;
    padding: 10px;
}
header ul li:hover .dropDown ul li {
    padding: 10px;
    width: 120px;
    display: block;
}
header ul li:hover .dropDown ul li a:hover {
    color: #ffffff;
    background-color: rgb(27, 27, 27);
    border-radius: 5px;
}
.line {     
    position: relative;
    width: 100%;
    margin-top: 10px;
    background-color: white;
    padding: 1px;
}
.bgImg {
    padding: 20px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("./Image/angkorThomBg.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    span {
        color: #00AA44;
    }
    h1, p, h2{
        text-align: center;
        color: white;
    }
    #midText, h1 {
        font-size: 50px;
        font-weight: bold;
    }
}
.logo {
    margin-top: 100px;
    padding: 20px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    #logo {
        width: 5%;
        filter: brightness(0) saturate(100%) invert(100%) sepia(48%) saturate(56%) hue-rotate(281deg) brightness(117%) contrast(100%);    
    }
}
.picture{
    padding: 20px 150px;    
    width: 100%;

    .grid-img{
        color: white;
        gap: 10px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 300px 300px 100px;
    
        .image1 {
            border-radius: 10px;
            background-image: url("./Image/Ta-Prohm-1.jpg");
            background-color: white;
            background-size: cover;
            background-position: center;    
        }
        .image2 {
            border-radius: 10px;
            background-color: rgb(255, 153, 153);
            background-image: url("./Image/pub-street.jpg");
            background-size: cover;
            background-position: center;    
        }
        .image3 {
            border-radius: 10px;
            background-color: rgb(79, 252, 255);
            background-image: url("./Image/sunsetBakheng.jpg");
            background-size: cover;
            background-position: center;    
        }
        .image4 {
            border-radius: 10px;
            background-color: rgb(54, 118, 255);
            background-image: url("../Image/Srah-Srang.png");
            background-size: cover;
            background-position: center;    
        }
        .image5 {
            grid-row: 2/4;
            grid-column: span 2;    
            border-radius: 10px;
            background-color: rgb(0, 208, 142);
            background-image: url("./Image/angkorMuseum.jpg");
            background-size: cover;
            background-position: center;    
        }.image6 {
            text-align: center;
            color: black;
            border-radius: 10px;
            background-color: white;
            background-position: center;    
        }
    }
}
.BestPlace {
    margin-top: 100px;
    padding: 20px 150px;    
    width: 100%;
    
    .line {
        justify-self: center;
        width: 40%;
    }
    #Placetext {
        color: white;
        text-align: center;

        span {
            color: #00AA44;
        }
    }
    .containerForPlace {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #030303;
        border-radius: 20px;
        padding: 20px;
        
        .allPlace {
            display: flex;
            justify-content: space-around;
        }
        .place1, .place2, .place3 {
            color: white;
            font-size: 20px;
            line-height: 40px;
        }
        .place2 {
            text-align: center;
        }
        .place3 {
            text-align: end;
        }
        
    }
}
.button, .button2 {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

        a {
            list-style: none;
            text-decoration: none;
            border-style: none;
            width: 25%;
            border-radius: 10px;
            font-size: 20px;
            font-weight: bold;
            padding: 15px;
            transition: 0.3s;
            color: black;
            background-color: #00AA44;
    }
    a:hover {
        background-color: #00ff66;
        transform: scale(1.05);
    }
}
.wrapper {
    padding: 20px 150px;

    .HorizontalScroll {
        margin-top: 250px;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-gap: 50px;
        overflow-x:scroll;


        .item1 {
            width: 45rem;
            height: 500px;
            padding: 30px;
            background-color: white;
            background-image: url("./Image/IMG20241130072421.jpg");
            background-size: cover;
            background-position: center;
        }
        .item2 {
            width: 45rem;
            height: 500px;
            padding: 30px;
            background-color: white;
            background-image: url("./Image/IMG20241130113446.jpg");
            background-size: cover;
            background-position: center;
        }
        .item3 {
            width: 45rem;
            height: 500px;
            padding: 30px;
            background-color: white;
            background-image: url("./Image/IMG20241201112705.jpg");
            background-size: cover;
            background-position: center;
        }
        .item4 {
            width: 45rem;
            height: 500px;
            padding: 30px;
            background-color: white;
            background-image: url("./Image/IMG20241201203839.jpg");
            background-size: cover;
            background-position: center;
        }
        .item5 {
            width: 45rem;
            height: 500px;
            padding: 30px;
            background-color: white;
            background-image: url("./Image/Preah-Dark-Village.png");
            background-size: cover;
            background-position: center;
        }
    }
}
.ourMap {
    position: relative;
    padding: 20px 150px;
    width: 100%;
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    #AngkorMap {
        color:#00ff66;
        line-height: 110px;
    }
    .lineOfMap {
        position: relative;
        width: 100%;
        margin-top: 10px;
        background-color: white;
        padding: 1px;
        
        .circle1 {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 20%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            padding: 15px;
            background-color: white;
        }
        .circle2 {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            padding: 15px;
            background-color: white;
        }
        .circle3 {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 80%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            padding: 15px;
            background-color: white;
        }
    }
    .map {   
        margin-top: 40px;
        width: 65vw;
        iframe {
            width: 100%;
        }
    } 
}
footer {
    margin-top: 100px;
    padding: 20px 150px;
    width: 100%;   
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 70vh;
    color: white;
    background: 
    linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    cursor: pointer;
    #exploreFooter {
        margin-top: 20px;
        text-align: center;
    }

    .footerText {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
    .footerCopyright {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px; 
        width: 100%;
    }
    .ourSocial {
        text-align: center;
        transition: 0.3s;
        .socialMedia {
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 100;
            width: 140px;
            gap: 20px;
        }
    }
    svg, .copyright,  .customerService a {
        fill: white;
        color: white;
        transition: 0.3s;
        list-style: none;
        text-decoration: none;
    }
    #a, #b, #c, #d {
        transition: 0.3s;
    }
    .ourSocial:hover {
        color: #92ffbe;
    }
    #a:hover, #b:hover, #c:hover, #d:hover {
        transform: scale(1.3);
        fill: #3eff8b;
    }
    .copyright.copyright:hover, .customerService:hover{
        color: #92ffbe;
    }
    a:hover{
        color: #92ffbe;
    }
}

@media (max-width: 838px) {
    header {
        background: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.6s;
        z-index: 10;
    }
    #logo {
        text-align: center;
        justify-self: center;
    }
    header ul {
        list-style: none;
        flex-wrap: wrap;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; 
    } 
}